body {
    font-size: 16px;
    font-family: cursive;
}


.navbar {
    background-color: #969696;
    border-radius: 0;
    border: 0;
}


.navbar button {
    margin-top: 100px;
}

.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}


.navbar-brand h1 {
    color: #000000;
    font-family: cursive;
    font-weight: bolder;
    font-size: 1.8em;
}




.nav {
    background-color: #ffffff;
}


.nav a {
    font-weight: bolder;
    color: #000000;
    font-size: 1.2em;
    font-family: cursive;
}


.container {
    width: 92%;
    margin-bottom: 30px;
}

.container h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}



.container h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

#chicken-tile, #beef-tile, #sushi-tile {
    width: 100%;
    padding: 20px;
    background-color: #969696;
    margin-bottom: 60px;
}